*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #777;
  font-family: Arial, sans-serif;
}

.container {
  border: 5px solid white;
  max-width: 58rem;
  position: relative;
  margin: auto;
  margin-top: 10rem;
  box-sizing: content-box;
  background-color: #fff;
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.15);
}
.week__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1px;
  margin-bottom: 2.5rem;
}
.week__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  height: 5.1rem;
}

/******************
DAY ELEMENT
*******************/
.day__info {
  background-color: #10b981;
  color: white;
  text-align: center;
  height: 6.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.day__info.close {
  background-color: #efefef;
  color: #10b981;
  /* border: 1px solid #10b981; */
}
.day__info--dayName {
  font-size: 2.3rem;
  padding: 5px;
}
.day__info--fullDate {
  font-size: 1.1rem;
  padding: 0 5px 5px 5px;
}
.day__info--null {
  width: 4rem;
}
.day__bookingBar {
  height: 0.7rem;
  margin-top: 1px;
}

/******************
DAY ELEMENT SELECTED
*******************/
.selected .day__info {
  background-color: #047857;
  z-index: 2;
  color: #c0c0c0;
}
.selected .day__info.close {
  background-color: #cfcfcf;
  color: #10b981;
  /* border: 1px solid #10b981; */
}

/******************
BUTTONS
*******************/
.btn {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.btn-left svg,
.btn-right svg {
  width: 2rem;
  height: 2rem;
}
.btn-left {
  top: 1.1rem;
  left: 1.1rem;
}
.btn-right {
  top: 1.1rem;
  right: 1.1rem;
}
.btn-reload {
  position: absolute;
  top: 0.8em;
  right: 9.1rem;
  border: 1px solid #777;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  background: transparent;
  border-radius: 5px;
}

/******************
MEDIA QUERIES
*******************/
@media (max-width: 37em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 45%;
  }
  .hours__row {
    font-size: 1.2rem;
  }
}

/******************
CONSOLE LOG
*******************/
.consoleLog {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.8rem;
}

/*****************
HOURS ROW
*****************/
.hours__row {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  /* column-gap: 1px; */
  color: #000;
}
.opening-bar {
  position: relative;
  margin-top: 1rem;
}
.closing-bar {
  position: relative;
  margin-top: 1rem;
}
.progress-bar {
  position: relative;
  margin-top: 2.2rem;
}
.timeTable {
  width: 100%;
  background: #efefef;
  font-size: 1.5rem;
  min-height: 10rem;
}
.openingTime {
  margin-bottom: 1rem;
}

.parent {
  overflow-x: scroll;
  height: 7rem;
  margin-bottom: 2.5rem;
  background-color: #efefef;
}
.parent::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.parent {
  scrollbar-width: none; /* Firefox */
}
.child {
  width: 90rem;
  cursor: pointer;
}
